// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.post-section{

    border: 1px solid gray;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 20px;
}

.error{
    color: red;
    font-weight: 700;
}